.App {
  text-align: center;
}

ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  font-weight: 700;
}

ul {
  list-style: none;
}

.bg-red {
  background-color: red;
}

.bg-red h1 {
  color: blue;
}